@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;0,900;1,300&display=swap');

:root {
    --color-background: #f3f3f3;
    --color-text-white: #ffffff;
    --color-header: #c0e5ee;
    --color-text: #414040;
    --color-secondary: #8f8f8f;
    --color-red:#f03d3d;
    --background-beneficios: #315868;
    --color-pink: #c61cfa;
    --color-footer: #1d1c1d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

header {
    background-color: var(--color-header);
    padding: 2rem 0;
}

.caixa {
    position: relative;
    margin: 0 auto;
    width: 940px;
}


nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: var(--color-text);
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
}

.produtos {
    margin: 0 auto;
    width: 940px;
    padding: 50px 0;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    border: 3px solid var(--color-secondary);
    border-radius: 15px;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
}

.produtos li:hover {
    cursor: pointer;
    margin-bottom: 2px;
    border-color: blue;
}

.produtos li:active {
    border-color: var(--color-pink);
}

.produtos li:hover h2 {
    font-size: 32px;
    color: var(--color-red);
}



.produtos h2 {
    font-size: 30px;
    font-weight: 700;
}

.produto-descricao {
    font-size: 18px;
}
.produto-preco {
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
}

footer {
    text-align: center;
    margin: 1rem 0;
    background: var(--color-footer);
    padding: 4rem 0;
    color: var(--color-text-white)
}

.copyright {
    color: var(--color-text-white);
    font-size: 1rem;
    margin: 20px 0 0;
}

